* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.chartCard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px #36a2eb;
  background: white;
}
